@media (max-width: 1300px) {}

@media (max-width: 1120px) {}

@media (max-width: 992px) {
  .hero_area {
    min-height: auto;
  }

  .custom_nav-container .navbar-nav {
    padding-top: 15px;
padding-left: 0;
    align-items: center;
  }

  .user_option{
    justify-content: center;
    margin-top: 15px;
  }
  .custom_nav-container .navbar-nav .nav-item .nav-link {
    padding: 5px 25px;
    margin: 5px 0;
  }

  .slider_section .carousel-indicators {
    margin-top: 45px;
  }

  .offer_section .box {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .offer_section .box .img-box {
    margin-right: 0;
    margin-bottom: 15px;
  }
}

@media (max-width: 767px) {

  .about_section .detail-box,
  .book_section .form_container {
    margin-bottom: 45px;
  }

  .about_section .row {
    flex-direction: column-reverse;
  }

  .offer_section .box {
    flex-direction: row;
    text-align: left;
  }

  .offer_section .box .img-box {
    margin-right: 15px;
    margin-bottom: 0;
  }
}

@media (max-width: 576px) {}


@media (max-width: 430px) {
  .offer_section .box {
    flex-direction: column;
    text-align: center;
  }

  .offer_section .box .img-box {
    margin-right: 0;
    margin-bottom: 15px;
  }
}

@media (max-width: 376px) {
  .slider_section .detail-box h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}


@media (min-width:576px) and (max-width:991px) {
  .rent_solution_container .col-md-4.col-sm-6 {
    float: left;
    width: 50%;
  }
}

.gallery {
  /* background-color: rgba(0, 0, 0, 0.7); Semi-transparent background */
  padding: 50px 0; /* Spacing around the section */
  background-color: rgb(218, 141, 48);
}

.carousel-inner img {
  height: 500px;
  max-width: 60vw;
  margin: auto;
  border-radius: 10px; /* Rounded corners for images */
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: rgba(0, 0, 0); /* Light background for icons */
  border-radius: 50%;
  padding: 20px; /* Round control icons */
}

@media (max-width: 480px) {
  .carousel-inner img {
  max-width: 80vw;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  display: none;
}
}

/* .carousel-control-prev-icon,.carousel-control-next-icon{

  background-color: orange;
  opacity: 1;
  border-radius: 50%;
  padding: 25px;
  } */